footer{
  height: 80px;
  background: @red;
  overflow: visible;
  position: relative;
  .box-shadow(inset 20px 20px 80px 0px rgba(0, 0, 0, .25), inset -20px -20px 80px 0px rgba(0, 0, 0, .25));
  .logo{
    background: url(../img/sprite.png) no-repeat 0 -104px;
    width: 150px;
    height: 89px;
    position: absolute;
    left: 25px;
    bottom: 10px;
    z-index: 10;
  }
}