header{
  background: @black;
  line-height: 45px;
  height: 45px;
  padding: 0 10px;
  .box-shadow(0px 5px 25px 0px rgba(0, 0, 0, .5));
  position: relative;
  z-index: 10;
  h2{
    font-size: 33px;
    color: white;
  }
}

h2{
  font-weight: normal;
  .accent{
    color: @red;
    font-weight: bold;
  }
}
