.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}

.box-shadow(@shadowA,@shadowB:transparent 0 0 0, ...) {
  @props: ~`"@{arguments}".replace(/[\[\]]/g, '')`;
  -moz-box-shadow:@props;
  -o-box-shadow:@props;
  -webkit-box-shadow:@props;
  box-shadow:@props;
}

.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}